body {
  font-family: Arial, Helvetica, sans-serif;
}

@positive-color:green;
@negative-color:rgb(120, 0, 0);
@amazon-color:  rgb(108, 92, 255);
@paypal-color:  rgb(32, 12, 211);
@food-color:    rgb(218, 178, 0);
@monthly-color: rgb(30, 121, 45);
@ospa-color:    rgb(236, 0, 0);
@gas-color:     rgb(0, 236, 216);
@debt-color:    rgba(100, 200, 100, 0.1);

@button-color:        rgb(30, 30, 30);
@button-hover-color:  rgb(50, 50, 50);
@button-border-top:   rgb(80, 80, 80);
@button-border-right: rgb(20, 20, 20);
@button-border-bottom:rgb(10, 10, 10);
@button-border-left:  rgb(60, 60, 60);

@default-background-color: rgb(35, 35, 35);

@positive-color-transparent:rgba(0, 128, 0, 0.2);
@negative-color-transparent:rgba(120, 0, 0, 0.2);
@amazon-color-transparent:  rgba(139, 126, 255, 0.2);
@paypal-color-transparent:  rgba(41, 27, 163, 0.2);
@food-color-transparent:    rgba(255, 0, 179, 0.2);
@monthly-color-transparent: rgba(30, 121, 45, 0.2);
@ospa-color-transparent:    rgba(236, 0, 0, 0.2);
@gas-color-transparent:     rgba(0, 236, 216, 0.356);
@debt-color-transparent:    rgba(100, 200, 100, 0.2);

.graph-area-wrapper {
  display: inline-flex;
  border: solid 1px black;
  border-radius: 0.5rem;
}

p {
    padding: 0.5rem;
}

#table {
  width: fit-content;
  overflow: hidden;
  display: block;
  border-radius: 1rem;
  margin-top: 1rem;
}

.row {
  font-size: small;
  line-height: 0.4rem;
  background-color: rgb(36, 36, 36);
}

.cell {
  white-space: nowrap;
  color: white;
  margin: none;
  padding-left: 0.5rem;
  overflow: hidden;
  margin: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  h2 {
    margin-top: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: transparent;
    border-radius: 1rem;
    border: 4px solid green
  }
  
  &:hover input ~ .checkmark {
    outline: 1px solid #fff;
  }
  
  input:checked ~ .checkmark {
    background-color: #fff;
  }

  &.others {
    @my-color: @negative-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.amazon {
    @my-color: @amazon-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.paypal {
    @my-color: @paypal-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.food {
    @my-color: @food-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.monthly {
    @my-color: @monthly-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.ospa {
    @my-color: @ospa-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }

  &.gas {
    @my-color: @gas-color;
    color: @my-color;
    .checkmark { border: 4px solid @my-color; }
    input:checked ~ .checkmark { background-color: @my-color; }
  }
}

.range-slider {
  width: 90%;
  height: 8px;
  max-height: 8px;
  margin-top: 0.0rem;

  &.ui-widget-content {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .ui-slider-handle {
    max-width: 8px;
    max-height: 16px;
    border: solid black 1px !important;
    background-color:rgb(200, 200, 255) !important;
  }

  .ui-widget-header {
    background:rgb(100, 100, 255) !important;
  }

  &.range-slider-inverted {
    min-height: 500px;

    .ui-widget-header {
      background-color: rgb(57, 57, 57) !important;
    }

    &.ui-widget-content {
      background-color: rgb(100, 100, 255) !important;
    }
  }

  &.range-slider-vertical {
    margin-top: 0.75rem;
    margin-left: 12px;
    max-width: 8px;
    width: 8px;
    min-height: 575px;

  &.range-slider-vertical-smaller {
    min-height: 535px;
  }


    .ui-slider-handle {
      max-height: 8px;
      max-width: 16px;
      border: solid black 1px !important;
      background-color:rgb(200, 200, 255) !important;
    }
  }
}

.uiElement {
  line-height: 1.3rem;
  color: white;
}

.uiElementTop {
  line-height: 0.6rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.uiElementBot {
  padding: 0.1rem;
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: x-large;
  white-space: nowrap;
  margin: 0;
  padding: 1.0rem 0.5rem 0.5rem 1rem;

  &.others { color: @negative-color; }
  &.amazon { color: @amazon-color; }
  &.paypal { color: @paypal-color; }
  &.food { color: @food-color; }
  &.monthly { color: @monthly-color; }
  &.ospa { color: @ospa-color; }
  &.gas { color: @gas-color; }
}

h2 {
  font-size: large;
  white-space: nowrap;
  margin-left: 0;
  margin-top: 0;

  &.others { color: @negative-color; }
  &.amazon { color: @amazon-color; }
  &.paypal { color: @paypal-color; }
  &.food { color: @food-color; }
  &.monthly { color: @monthly-color; }
  &.ospa { color: @ospa-color; }
  &.gas { color: @gas-color; }
}

#ui-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
  width: 25rem;
  height: 37.5rem;
  z-index: 1100;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  border-left: 1px solid black;
}

#legend {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 5rem;
}

.settings {
  position: relative;
  background-color: @default-background-color;
  z-index: 2000;
  overflow: hidden;
  width: 19rem;
  margin-top: -40rem;
  height: 40rem;
  max-height: 40rem;
  border-top-right-radius: 0.6rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.5);
  transition: top 0.5s, margin-top 0.5s;

  #button-expand-icon {
    margin-left: -1px;
    transform: rotate(-90deg) !important;
  }
}

.settings-hidden {
  margin-top: -7.5rem;

  h1 {
    padding-top: 0.35rem;
  }

  #button-expand-icon {
    transform: rotate(90deg) !important;
  }

  #expand-button {
    background-color: transparent;
    border: none;
  }
}

.value-line {
  z-index: 80;
  position: absolute;
  height: 1px;
  width: 2000px;
}

.value-text {
  z-index: 80;
  position: absolute;
  width: 200px;
}

.amount-holder {
  position: absolute;
  width: 2rem;
  height: 100%;
  z-index: 2000;
  padding-left: 0.5rem;
}

.amount-texts {
  position: absolute;
  z-index: 2001;
}

#expand-button {
  margin: -2.4rem 0 0 15.9rem !important;
  min-width: 2.0rem;
  max-height: 2.0rem;
  height: 3.5rem;
  z-index: 2000;
}

.button {
  height: 2.5rem;
  width: 7.5rem;
  margin: auto;
  margin-left: 1rem;
  border-radius: 0.6rem;
  font-size: small;
  font-weight: bold;
  background-color: @button-color;
  color: white;
  border-top: 4px solid @button-border-top;
  border-right: 4px solid @button-border-right;
  border-bottom: 4px solid @button-border-bottom;
  border-left: 4px solid @button-border-left;
}

.button:hover {
  background-color: @button-hover-color;
}

.buttonwrapper {
  display: flex;
  width: 200px;
  padding-top: 0.8rem;
}

.color-picker-holder {
  p {
    width: 14rem;
    height: 2.5rem;
    margin-top: -0.125rem;
  }
  
  .color-picker-wrapper {
    display: flex ;
    width: 15rem !important;
    height: 1.6rem !important;
    justify-content: center;
    margin-top: 1rem !important;
    padding: 0.1rem 0.7rem 0.2rem 0.5rem;
  
    .color-picker {
      background-color: @button-color;
      border: none;
      height: auto;
      width: 3rem;
      height: 1.8rem;
      margin: -0.0625rem 0 0 auto;
    }
  }
}

.rangewrapper {
  padding-left: 1.5rem;
  display: block;
  margin-top: 0.5rem !important;
  margin-bottom: 1.5rem;
}

.range-headline {
  margin-bottom: 0.3rem;
  font-size: small;
  font-weight: bold;
}

.legend-headline {
  color: white;
  font-size: large;
  margin: auto;
  margin-top: -0.5rem;
}

.legend-item {
  margin: -0.3rem 0 0 1rem;
  width: 6rem;
  min-width: 6rem;
}

.legend-holder {
  display: flex;
  margin-top: 0.5rem;
  max-width: 100%;
  width: 100%;
}

.legend-text-holder {
  display: flex;
}

.legend-text-holder-right {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.legend-square-holder {
  width: 2rem !important;
  min-width: 2rem !important;
  margin-left: 1rem;
}

.square {
  position: absolute;
  z-index: 200;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: @positive-color;
}

.legendsquare {
  position: relative;
  z-index: 200;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  border: 0;
  width: 2rem;
  background-color: @positive-color;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: red;
  z-index: 200;
}

.positive-background { background-color: @positive-color; }
.negative-background { background-color: @negative-color; }
.amazon-background { background-color: @amazon-color; }
.paypal-background { background-color: @paypal-color; }
.food-background { background-color: @food-color; }
.monthly-background { background-color: @monthly-color; }
.ospa-background { background-color: @ospa-color; }
.gas-background { background-color: @gas-color; }
.debt-background { background-color: @debt-color; }

.positive-background-transparent { background-color: @positive-color-transparent; }
.negative-background-transparent { background-color: @negative-color-transparent; }
.amazon-background-transparent { background-color: @amazon-color-transparent; }
.paypal-background-transparent { background-color: @paypal-color-transparent; }
.food-background-transparent { background-color: @food-color-transparent; }
.monthly-background-transparent { background-color: @monthly-color-transparent; }
.ospa-background-transparent { background-color: @ospa-color-transparent; }
.gas-background-transparent { background-color: @gas-color-transparent; }
.debt-background-transparent { background-color: @debt-color-transparent; }

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s;
}

.fade {
  opacity: 100%;
  z-index: 210;
}

.popupText {
  padding: 0;
  margin: 0;
}

