body {
  font-family: Arial, Helvetica, sans-serif;
}

@positive-color:green;
@negative-color:rgb(120, 0, 0);
@amazon-color:  rgb(108, 92, 255);
@paypal-color:  rgb(32, 12, 211);
@rewe-color:    rgb(218, 178, 0);
@monthly-color: rgb(168, 168, 168);
@ospa-color:    rgb(236, 0, 0);
@gas-color:     rgb(0, 236, 216);

@button-color:        rgb(40, 40, 40);
@button-border-top:   rgb(100, 100, 100);
@button-border-right: rgb(30, 30, 30);
@button-border-bottom:rgb(10, 10, 10);
@button-border-left:  rgb(60, 60, 60);

@positive-color-transparent:rgba(0, 128, 0, 0.2);
@negative-color-transparent:rgba(120, 0, 0, 0.2);
@amazon-color-transparent:  rgba(139, 126, 255, 0.2);
@paypal-color-transparent:  rgba(32, 12, 211, 0.2);
@rewe-color-transparent:    rgba(255, 0, 179, 0.2);
@monthly-color-transparent: rgba(168, 168, 168, 0.2);
@ospa-color-transparent:    rgba(236, 0, 0, 0.2);
@gas-color-transparent:     rgba(0, 236, 216, 0.2);

.color-picker-wrapper {
  display: flex ;
  width: 15rem !important;
  height: 2.0rem !important;
  justify-content: center;
  margin-top: 1rem !important;
  padding: 0.5rem;
  padding-left: 1rem;

  .color-picker {
    background-color: @button-color;
    border: none;
    height: auto;
    width: 4rem;
    margin-left: auto;
    margin-top: -0.5rem;
  }
}

p {
    padding: 0.5rem;
}

#table {
  width: fit-content;
  overflow: hidden;
  display: block;
  border-radius: 1rem;
  margin-top: 1rem;
}

.row {
  font-size: small;
  line-height: 0.4rem;
  background-color: rgb(36, 36, 36);
}

.cell {
  white-space: nowrap;
  color: white;
  margin: none;
  padding-left: 0.5rem;
  overflow: hidden;
  margin: 0;
}

.range-slider {
  width: 105%;
  height: 12px;
  margin-top: -0.3rem;
  border: solid black 1px;
  background-color:rgb(30, 30, 30);
}

.vertical-range-slider {
  width: 12px;
  min-height: 550px;
  margin-top: 25px;
  margin-left: 12px;
  border: solid black 1px;
  background-color:rgb(30, 30, 30);
}

.ui-widget-header  {
  background:rgb(100, 100, 255) !important;
}

.ui-slider-handle {
  border: solid black 1px !important;
  background-color:rgb(200, 200, 255) !important;
}

.ui-widget-content {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.uiElement {
  line-height: 1.3rem;
  color: white;
}

.uiElementTop {
  line-height: 0.6rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.uiElementBot {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: large;
  white-space: nowrap;
  margin-left: 0;
  margin-top: 0;

  &.others  { color: @negative-color; }
  &.amazon  { color: @amazon-color; }
  &.paypal  { color: @paypal-color; }
  &.rewe    { color: @rewe-color; }
  &.monthly { color: @monthly-color; }
  &.ospa    { color: @ospa-color; }
  &.gas     { color: @gas-color; }
}

.legend-holder {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}

.button {
  height: 3rem;
  width: 7.5rem;
  margin: auto;
  margin-left: 1rem;
  border-radius: 0.6rem;
  font-size: medium;
  font-weight: bold;
  background-color: @button-color;
  color: white;
  border-top: 4px solid @button-border-top;
  border-right: 4px solid @button-border-right;
  border-bottom: 4px solid @button-border-bottom;
  border-left: 4px solid @button-border-left;
}

.buttonwrapper {
  display: flex;
  width: 200px;
  padding-top: 1rem;
}

.rangewrapper {
  padding-left: 1.5rem;
  display: block;
  margin-top: 0rem !important;
  margin-bottom: 1.5rem;
}

.legend-square-holder {
  width: 5rem;
  margin-left: 1rem;
}

.square {
  position: absolute;
  z-index: 200;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: @positive-color;
}

.legendsquare {
  position: relative;
  z-index: 200;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  border: 0;
  background-color: @positive-color;
}

.circle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: red;
  z-index: 200;
}

.positive-background { background-color: @positive-color; }
.negative-background { background-color: @negative-color; }
.amazon-background { background-color: @amazon-color; }
.paypal-background { background-color: @paypal-color; }
.rewe-background { background-color: @rewe-color; }
.monthly-background { background-color: @monthly-color; }
.ospa-background { background-color: @ospa-color; }
.gas-background { background-color: @gas-color; }

.positive-background-dark { background-color: @positive-color-transparent; }
.negative-background-dark { background-color: @negative-color-transparent; }
.amazon-background-dark { background-color: @amazon-color-transparent; }
.paypal-background-dark { background-color: @paypal-color-transparent; }
.rewe-background-dark { background-color: @rewe-color-transparent; }
.monthly-background-dark { background-color: @monthly-color-transparent; }
.ospa-background-dark { background-color: @ospa-color-transparent; }
.gas-background-dark { background-color: @gas-color-transparent; }

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s;
}

.fade {
  opacity: 100%;
  z-index: 210;
}

.popupText {
  padding: 0;
  margin: 0;
}

