@import './style.less';

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: @custom-background-color;

  h1 {
    color: @custom-ui-color;
  }

  h2 {
    color: @custom-ui-color;
    font-size: large;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0.5rem;

    &.monthly { color: @monthly-color; }
    &.income { color: @income-color; }
    &.cash { color: @cash-color; }
    &.amazon { color: @amazon-color; }
    &.paypal { color: @paypal-color; }
    &.food     { color: @food-color; }
    &.takeout { color: @takeout-color; }
    &.gas     { color: @gas-color; }
    &.others { color: @negative-color; }
  }

  #scroll-to-top-button {
    display: flex;
    position: fixed;
    bottom: -3rem;
    right: 48%;
    z-index: 9999;
    padding: 0 0.75rem 0 0.75rem;
    margin-top: -1rem;
    color: white;
    height: 3rem;
    border: none;
    background: linear-gradient(to bottom, rgb(50, 50, 155), rgb(17, 17, 24));
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: bottom 0.3s ease-out;

    &.visible {
      bottom: -1rem;
      transition-delay: 0.3s;
      transition-timing-function: ease-in;
    }

    .scroll-to-top-button-content {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      font-weight: 400;
      font-size: medium;
      margin-top: 0.5rem;

      .fa-solid {
        font-size: small;
      }
    }
  }
}

#graph-area-wrapper {
  display: inline-flex;
  border: solid 1px black;
  border-radius: 0.5rem;

  #ui-wrapper {
    overflow: hidden;
    display: block;
    width: 26rem;
    height: 37.5rem;
    z-index: 1100;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-left: 1px solid black;

    .settings {
      position: relative;
      background-color: @custom-background-color;
      z-index: 2000;
      overflow: hidden;
      width: 19rem;
      margin-top: -40rem;
      height: 40rem;
      max-height: 40rem;
      border-top-right-radius: 0.6rem;
      border-top: 1px solid black;
      border-right: 1px solid black;
      box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.5);
      transition: top 0.5s, margin-top 0.5s;

      #settings-toolbar {
        .toolbar-button-wrapper {
          padding: 0;

          #button-move-settings {
            margin: -2.4rem 0 0 13rem !important;
            width: 2rem;
            max-height: 2rem;
            height: 3.5rem;
            z-index: 2000;
          }

          #button-expand-settings {
            margin: -2.4rem 0 0 16.0rem !important;
            width: 2rem;
            max-height: 2.0rem;
            height: 3.5rem;
            z-index: 2000;

            #button-expand-settings-icon {
              margin-left: -1px;
              transform: rotate(-90deg) !important;
            }
          }
        }
      }

      #settings-content {
        .settings-button-collection {
          display: flex !important;
          margin-top: -0.25rem;

          &:first-child {
            .settings-button-group:last-child {
              margin-top: -1rem;
            }
          }

          .settings-button-group {
            display: flex;
            justify-content: top;
            flex-direction: column;
            width: 50%;

            h3 {
              color: @custom-ui-color;
              padding-left: 1rem;
              margin-bottom: -0.5rem;
            }

            &.settings-button-group-small {
              width: 5rem;

              .buttonwrapper {
                height: 2.8rem;
                margin-top: -0.15rem;

                button {
                  width: 4rem;
                }
              }
            }

            &.settings-button-group-large {
              width: 12.5rem;
            }
          }
        }

        .color-picker-holder {
          p {
            width: 10rem;
            height: 2.5rem;
            margin-top: -0.125rem;
          }

          .color-picker-wrapper {
            display: flex ;
            width: 9.5rem;
            height: 1.8rem;
            justify-content: center;
            margin-top: 0.75rem;
            margin-left: 1rem;
            padding: 0.1rem 0.7rem 0.25rem 0.5rem;

            .switch {
              right: 0 !important;
            }

            .color-picker {
              background-color: @button-color;
              border: none;
              height: auto;
              width: 3rem;
              height: 1.8rem;
              margin: -0.0625rem 0 0 auto;
            }
          }
        }
      }
    }

    .settings-hidden {
      margin-top: -7.5rem;

      h1 {
        padding-top: 0.35rem;
      }

      #settings-toolbar {
        .toolbar-button-wrapper {
          #button-expand-settings {
            #button-expand-settings-icon {
              transform: rotate(90deg) !important;
            }
          }
        }
      }

      #expand-button {
        background-color: transparent;
        border: none;
      }
    }
  }

  &.graph-area-wrapper-vertical {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 12rem;

    #ui-wrapper {
      overflow: visible;

      .settings {
        box-shadow: none;
        position: absolute;
        width: 98%;
        top: 80.35rem;
        left: 0.5rem;
        height: 12rem;
        border-top-right-radius: 0;
        border: 1px solid black;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        #settings-toolbar {
          flex-direction: row;

          .toolbar-button-wrapper {
            margin-top: 0;
            max-width: 2rem;
            margin-left: auto;
            margin-right: 17rem;

            #button-move-settings-icon {
              width: 0.7rem;
              transform: rotate(180deg) !important;
            }

            #button-expand-settings {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }

        #settings-content {
          display: flex;
          justify-content: top;
          flex-direction: row;
          margin-top: -1.5rem;
          margin-left: 7.5rem;

          .settings-button-group {
            flex-direction: column;
            width: 10rem;

            h3 {
              margin-top: -1rem;
              font-size: 12px;
            }

            .buttonwrapper {
              margin-top: -0.25rem;
              margin-bottom: -0.25rem;
            }
          }

          .color-picker-wrapper {
            margin-top: 0.85rem !important;
            margin-bottom: -0.25rem;
          }

          .rangewrapper {
            margin-top: 0 !important;
            width: 17.75rem;
          }
        }
      }
    }
  }
}

.spinner-container {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#static-wrapper {
  display: block;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* You can change the color here */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  padding: 0.5rem;
}

#table {
  width: 99.1%;
  overflow: hidden;
  display: block;
  border-radius: 0.6rem;
  margin-top: 1rem;
}

.row {
  font-size: small;
  line-height: 0.4rem;
}

.cell {
  white-space: nowrap;
  color: @custom-ui-color;
  margin: none;
  padding-left: 0.5rem;
  overflow: hidden;
  margin: 0;
}

.range-slider {
  width: 90%;
  height: 8px;
  max-height: 8px;
  margin-top: 0.0rem;
  border: 1px solid black !important;

  &.ui-widget-content {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  .ui-slider-handle {
    max-width: 8px;
    max-height: 16px;
    border: solid black 1px !important;
    background-color:rgb(200, 200, 255) !important;
  }

  .ui-widget-header {
    background:rgb(100, 100, 255) !important;
  }

  &.range-slider-inverted {
    min-height: 500px;

    .ui-widget-header {
      background-color: rgb(57, 57, 57) !important;
    }

    &.ui-widget-content {
      background-color: rgb(100, 100, 255) !important;
    }
  }

  &.range-slider-vertical {
    margin-top: 0.75rem;
    margin-left: 12px;
    max-width: 8px;
    width: 8px;
    min-height: 575px;

    &.range-slider-vertical-smaller {
      min-height: 535px;
    }

    .ui-slider-handle {
      max-height: 8px;
      max-width: 16px;
      border: solid black 1px !important;
      background-color:rgb(200, 200, 255) !important;
    }
  }
}

.uiElement {
  line-height: 1.3rem;
  color: @custom-ui-color;
}

.uiElementTop {
  line-height: 0.6rem;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.uiElementBot {
  padding: 0.1rem;
  margin: 0;
  font-weight: bold;
}

h1 {
  font-size: x-large;
  white-space: nowrap;
  margin: 0;
  padding: 1.0rem 0.5rem 0.5rem 1rem;

  &.monthly { color: @monthly-color; }
  &.income { color: @income-color; }
  &.cash { color: @cash-color; }
  &.amazon { color: @amazon-color; }
  &.paypal { color: @paypal-color; }
  &.food { color: @food-color; }
  &.takeout { color: @takeout-color; }
  &.gas { color: @gas-color; }
  &.others { color: @negative-color; }
}

.value-line {
  z-index: 80;
  position: absolute;
  height: 1px;
  width: 20000px;
}

.value-text {
  z-index: 80;
  position: absolute;
  width: 200px;
}

.button {
  height: 2.5rem;
  width: 7.5rem;
  margin: auto;
  margin-left: 0;
  border-radius: 0.6rem;
  background-color: @button-color;
  color: @custom-ui-color;
  border-top: 4px solid @button-border-top;
  border-right: 4px solid @button-border-right;
  border-bottom: 4px solid @button-border-bottom;
  border-left: 4px solid @button-border-left;
}

.button:hover {
  background-color: @button-hover-color;
}

.buttonwrapper {
  display: flex;
  padding-top: 0.8rem;
  padding-left: 0.75rem;
  font-size: small;
  font-weight: bold;
  color: @custom-ui-color;

  &.extra-padding {
    padding-top: 1.3rem;
    font-size: small;
    font-weight: 500;

    span {
      margin-top: 0.1rem;
      font-weight: 600;
    }
  }

  .switch {
    margin: auto;
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
}

.rangewrapper {
  padding-left: 1.5rem;
  display: block;
  margin-top: 0.5rem !important;
  margin-bottom: 1.5rem;

  .dataset-range-wrapper {
    color: white;
  }
}

.custom-input {
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid black;
  color: gray;
  width: 6rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;

  &:first-of-type {
    margin-left: 0;
  }

  &--small,
  &--small:first-of-type {
    width: 0.9rem;
    margin: 0;
    margin-left: auto;
    margin-right: 0;
  }

  &.active {
    color: white;
  }
}

.range-headline {
  margin-bottom: 0.3rem;
  font-size: small;
  font-weight: bold;
  color: @custom-ui-color;
  margin-top: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  margin-right: -1rem;
  width: 2rem;
  height: 0.9rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.9rem;
    background-color: #646464;
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 0.9rem;
      width: 0.9rem;
      top: 0;
      left: 0;
      bottom: 4px;
      border-radius: 100%;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    &[disabled] {
      background-color: #383838 !important;
      &::before {
        background-color: rgb(78, 78, 78);
      }
    }
  }

  input:checked + .switch-slider {
    background-color: #2196F3;
  }

  input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .switch-slider{
    &::before {
      -webkit-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      transform: translateX(1rem);
    }

    &[disabled] {
      &::before {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}
